
.calc{
    margin: auto;
    padding:10px;
    border: 1px solid;
    width: 170px;
}

.screen{
    border: 1px solid;
    gap: 5 px;
    padding-inline: 5px;
}

#operation{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 20px;
    font-size: 0.8em;
    color:darkblue;
}

#number{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
    font-size: 1.3em;
}

.calc .buttons{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    gap:5px;
}

.calc button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
