/* Extra large screens, TV */
@media (max-width:1199px) /* Desktops, large screens */
{
    :root{
        --container-width : 1024px;
        --banner-height: 325px;
        --logo-width: 170px;
    }
}

@media (max-width:1023px) /* Small screens, laptops */
{
    :root{
        --container-width : 768px;
        --banner-height: 300px;
        --logo-width: 160px;
    }
}

@media (max-width:767px) /* iPads, Tablets */
{
    :root{
        --container-width : 480px;
        --banner-height: 280px;
        --logo-width: 160px;
    }
    .banner{
        font-size: 0.9em;
    }

    .navbar>nav{
        button{
            display: block;
            &:focus~ul{
                width: 60vw;
            }
        }
        ul, li>ul{
            position: fixed;
            display: block;
            overflow: hidden;
            top: 10vh;
            left: 0;
            width: 0vw;
            height: 80vh;
            border-radius:0px 10px 10px 0px;
            box-shadow: 1px 1px gray;
            transition: width 500ms;
            padding-top: 50px;
            font-size: 1.1em;
            background-color: var(--navcolor);
            &:hover{
                width: 60vw;
            }
            li{
                padding-block: 10px;
                padding-inline: 20px;
                &:hover{
                    background-color: transparent;
                    &::after{
                        background-color: transparent;
                    }
                }
            }
            i{
                margin-left: 20px;
                margin-right: 0;
                &~li:nth-child(2){
                    display: inline-block;
                    padding-inline: 0;
                }                
            }

        }
        button:focus~.drop-menu
        {
            width: 60vw;
        }
        &>div i{
            font-size: 1em;
        }
        &:hover>::after{
            display: none;
        }        
    }
}

@media (max-width:479px) /* Phones */
{
    :root{
        --container-width : 320px;
        --banner-height: 270px;
        --logo-width: 155px;
    }
    .banner{
        font-size: 0.8em;
    }
}




