.me{
    display: flex;
    align-items: center;
    width:fit-content;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.1);
    color: gainsboro;
    border-radius: 5px;
    margin-top: 2.5em;
    padding-inline: 10px;
    font-family: Arial;
}

.me>div{
    font-weight: bolder;
    font-size: 1.4em;
    color: var(--color);
    transform: rotateZ(90deg);
    margin-left: 15px;
}

.title{
    font-size: 2em;
    color:gainsboro;
    margin-top: 1em;
    font-family: "Arial";
}

.title>span{
    color:var(--color);
}

.note{
    color:lightgray;
    font-size: 1em;
    margin-top: 3em;
}

.content{
    position: relative;
}

.back-img{
    position: absolute;
    top: -30px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/bilgibasindacut.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.3;
    margin-right: 20px;
}

@media (min-width:1024px) /* tablet, landscape iPad, lo-res laptops ands desktops */
{
    .note{
        color:gray;
    }

    .back-img{
        position: static;
        background-image: url("../images/bilgibasindacut.png");
        background-size: 80%;
        aspect-ratio: 5/4;
        background-position: top right;
        background-repeat: no-repeat;
        opacity: 0.7;
        margin-right: 20px;
    }

    .content{
        display:grid; 
        grid-template-columns: 3fr 2fr; 
        border-radius: 10px; 
        margin-inline: auto;
    }
}


