h2{
    margin-left: 20px;
}

.content{
    margin-top: 20px;
}

.education{
    display: grid;
    grid-template-columns: 3em auto;
    margin-left: 20px;
    margin-block: 30px;
    gap:0;
}

.education>.first{
    height: 100%;
    position: relative;
}

.education>.first::before{
    position:absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: orange;
    left: 4px;
    top: 10px;
}

.education>.first::after{
    position:absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: orange;
    filter: blur(1px);
    border-radius: 50%;
    border: solid 5px var(--maincolor);
    top: 10px;
}

.education-card{
    margin-bottom: 20px;
}

.card-title{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-date{
    font-size: 1.1em;
    color:burlywood;
}

.skillcard{
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px;
    padding: 20px;
}

.skill{
    width: 100%;
    background-color: gray;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
}

.skill div{
    height: 5px;
    background-color: rgb(216, 141, 0);
}

@media (min-width:768px) /* iPads, Tablets */
{
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
@media (min-width:1024px) /* iPads, Tablets */
{
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}