@font-face {
    font-family: Poppins-light;
    src: url("../fonts/Poppins/Poppins-Light.ttf");

    
    font-family: Digital;
    src: url("../fonts/DS-DIGI.TTF");

    /*font-family: Poppins-regular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");

    font-family: Poppins-medium;
    src: url("../fonts/Poppins/Poppins-Medium.ttf");

    font-family: Space-Grotesk;
    src:url("../fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf");
*/
}

:root{
    --bgcolor : rgb(30, 31, 46);
    --color : cornflowerblue;
    --navcolor :  rgb(25, 25, 42);
    --font : "Poppins-light"
}

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: var(--bgcolor);
    color:var(--color);
    font-family: --var(--font);
}

.banner{
    display: flex;
    overflow: hidden;
    background-color: rgb(21, 21, 21);
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 10/6;
    width: 320px;
}

.logo-img{
    opacity: 1;
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 30px;
    overflow: hidden;
    margin-inline: auto;
    background-image: url("../images/ben.jpg");
    background-size: cover;
    overflow: hidden;
}

.motto{
    position: relative;
    color: lightblue;
    margin-inline:auto;
    margin-top: 30px;
    background-color: rgb(21, 21, 21);
    font-size: 0.9em;
    text-align: center;
}

#matrix {
    font-size: 30px;
    position: absolute;
    display: block;
    top:0;
    left:0;
    width: 100vw;
    opacity: 0.6;
}

.container{
    margin: auto;
}

.navbar{
    position: relative;
    height: 70px;
    background-color: var(--navcolor);
    z-index: 1;
}

.nav{
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav>.contact-menu{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}

.nav>.contact-menu>img{
    transform: scale(0.9);
}

.nav>ul{
    position: absolute;
    display: none;
    top: 60px;
    left: 10px;
    padding-inline: 1em;
    background-color: var(--navcolor);
    box-shadow: 1px 1px 3px gray;
    font-size: 1.2em;
}
.nav>ul:hover{
    display: block;
}
.nav>ul>li{
    position: relative;
    display: flex;
    align-items: end;
    list-style-type: none;
    margin-block: 1em;
}
.nav>.menu-icon{
    background-color: transparent;
    border: none;
    display: block;
}
.nav>.menu-icon:focus~ul{
    display: block;
}
.nav .dropdown{
    background-color: transparent;
    color: var(--color);
    font-family: var(--font);
    font-size: inherit;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.nav .dropdown:focus~.drop-menu{
    display: block;
    z-index: 1;
}
.nav .drop-menu{
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: var(--navcolor);
    padding-inline: 20px;
    border-radius: 10px;
    display: none;
    box-shadow: 1px 1px 3px gray;
}
.nav .drop-menu:hover{
    display: block;
}
.nav .drop-item{
    margin-block: 20px;
}
