<title>Calculator</title>
<link rel="stylesheet" type="text/CSS" href="/css/calc.css">

<div class="container">

    <br/>

    <div class="calc">
        <div class="screen">
            <div id="operation">0</div>
            <div id="number">0</div>
        </div>
        <div class="buttons">
            <button class="CE" value = "CE">CE</button>
            <button class="C" value = "C">C</button>
            <button class="operator" value = "/">/</button>
            <button class="operator" value = "*">*</button>
            <button class="number" value = "1">1</button>
            <button class="number" value = "2">2</button>
            <button class="number" value = "3">3</button>
            <button class="operator" value = "-">-</button>
            <button class="number" value = "4">4</button>
            <button class="number" value = "5">5</button>
            <button class="number" value = "6">6</button>
            <button class="operator" value = "+">+</button>
            <button class="number" value = "7">7</button>
            <button class="number" value = "8">8</button>
            <button class="number" value = "9">9</button>
            <button class="eval" value = "=" style="grid-row: span 2; height: 65px;">=</button>
            <button id="neg" value = ""><span><sup>+</sup>/ -</span></button>
            <button class="number" value = "0">0</button>
            <button class="decimal" value = ".">.</button>
        </div>
    </div>    
</div>

<script src="/js/calc.js"></script>