#frame{
    background-color:gray;
    padding:15px;
    width:221px
}
#screen{
    background-color:white;
    height:80px;
    margin-bottom:15px;


}

#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:7px;
}

.bkey{
    background-color:purple;
   /* aspect-ratio:107/40; */
    height:40px;
    grid-column: span 2;
    display:flex;
    justify-content: center;
    align-items: center;

}

.key {
    display:flex;
    aspect-ratio:5/4;
    justify-content: center;
    align-items: center;
    background-color:white;
}